
<app-login></app-login>
<nav class="navbar navbar-dark bg-primary">
    <a routerLink="/select_league" routerLinkActive="active">Seleccionar Liga</a>
    <a routerLink="/team_registration" routerLinkActive="active">Registrar Equipo</a>
    <a routerLink="/start_league" routerLinkActive="active">Empezar Liga</a>
    <a routerLink="/league_results" routerLinkActive="active">Resultados</a>
    <a routerLink="/league_stats" routerLinkActive="active">Clasificación</a>
    <a routerLink="/finish_league" routerLinkActive="active">Finalizar Liga</a>
</nav>
<router-outlet></router-outlet>